*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0px;
}
:root {
    --board-background: hsla(208, 92%, 90%, 0.65);
    --lighter-background: hsla(208, 92%, 95%, 0.8);
    --bright-blue: hsla(208, 100%, 60%, 0.65);
}
body {
    width: 100vw;
    height:100vh;
    
    background-image: url(images/mountain-landscape.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    overflow: hidden;
    
    display: grid;
    grid-template-rows: auto 1fr 3rem;
    gap: 4rem;
}
.header {
    background-color: var(--lighter-background);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.header  h1 {
    align-self: center;
}

    .player-info-container {
        display: flex;
        
    }
    .player-info-container div {
        border-left: solid;
        flex: 1;
        font-size: min(4.5vw, 40px);
        padding-left: .5rem;
        margin-bottom: .2rem;
    }
    .scoreCard {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .scoreCard h2, .scoreCard h1 {
        /* flex: 1; */
    }
#outer-container {
    width: 100%;
    height: 100%;
    display: grid;
}
#container {
    background-color: var(--board-background);
    width: min(90%, 1000px);
    justify-self: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;

}
    .board-row {
        flex: 1;
        width: 100%;
        display: flex;
    }   
        #container :first-child * {
            border-top: none;
        }
        #container * :last-child {
            border-right: none;
        }
        #container :last-child * {
            border-bottom: none;
        }
        #container * :first-child {
            border-left: none;
        }
    .play-space {
        flex: 1;
        border-style: solid;
        
    }
.footer {
    background-color: var(--lighter-background);
    display: flex;
    justify-content: center;
    align-items: center;
    color: hsl(0, 0%, 49%);
}
.pop-up {
    background-color: var(--lighter-background);
    position: absolute;
    width: min(90%, 1000px);
    height: max-content;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    display: flex;
    flex-direction: column;
    align-items: center;
}
.pop-up form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    margin: 1rem;
}
.pop-up input[type="checkbox"].toggle {
    opacity: 0;
    position: absolute;
    left: -9000px;
    top: -9000px;
}
.pop-up input[type="checkbox"].toggle + label{
    display: flex;
    align-items: center;
}
.pop-up input[type="checkbox"].toggle + label::after {
    width: min(8vw, 40px);
    height: min(8vw, 40px);
    background-color: var(--bright-blue);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: min(8vw, 30px);
    border-radius: 50%;
    margin-left: 1rem;
}
.pop-up input[type="checkbox"].symbol + label::after {
    content: "X";
}

.pop-up input[type="checkbox"].symbol:checked + label::after {
    content: "O";
}
.pop-up input[type="checkbox"].players + label::after {
    content: "1";
}

.pop-up input[type="checkbox"].players:checked + label::after {
    content: "2";
}
.hidden {
    display: none;
}
.pop-up input[type="checkbox"].players:checked ~ .hidden {
    display: flex;
}